<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.yangxiao.dao.FollowMapper">
  <resultMap id="BaseResultMap" type="online.yangxiao.entity.Follow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="follower_id" jdbcType="INTEGER" property="followerId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, follower_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from follow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from follow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="online.yangxiao.entity.Follow">
    insert into follow (id, user_id, follower_id
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{followerId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="online.yangxiao.entity.Follow">
    insert into follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="followerId != null">
        follower_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="followerId != null">
        #{followerId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="online.yangxiao.entity.Follow">
    update follow
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="followerId != null">
        follower_id = #{followerId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="online.yangxiao.entity.Follow">
    update follow
    set user_id = #{userId,jdbcType=INTEGER},
      follower_id = #{followerId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>